article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: \201C \201D \2018 \2019;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
html input[type=button],
/* 1 */
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
figure {
    margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --font: font-family: 'Abel', sans-serif;
}


html {
    font-size: 125%;
}

h1,
h2,
h3,
p {
    font-family: 'Abel', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: inline-block;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

header h2 {
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

.navBar {
    display: flex;
    font-weight: 400;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 0 10px;
}

.navBar ul {
    display: flex;
    justify-content: end;
    display: flex;
    margin: 0;
    padding-top: 20px;
    width: 100%;
}

.navBar li {
    list-style: none;
    text-transform: none;
    position: relative;
}

.navBar a {
    text-decoration: none;
    color: white;
    font-family: 'Abel', sans-serif;
    padding: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}


.navBar a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

/* nav mobile menu */

.barMenu {
    position: relative;
    right: 20px;
    display: none;
}

.barUl ul {
    position: absolute;
    display: none;
    width: fit-content;
}

.mobileNav ul {
    width: fit-content;
}

.mobileNav li {
    padding-top: 10px;
}



.mobileNav li:hover {
    text-decoration: underline;
}

.barUl {
    display: block;
}

header {
    background-image: url(./assets/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.heroTitle {
    padding-top: 250px;
}

.title {
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: black;
}


.profilePic {
    text-align: center;
}

.me {
    width: 210px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

h1 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.10rem;
    font-size: 41px;
    font-weight: 400;
    color: white;
}

.profession {
    display: grid;
    place-items: center;
    color: white;
}

.typing-demo {
    width: 17ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    font-weight: 400;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

header .arrow {
    color: white;
    animation: arrow-hover 2s ease-in-out infinite;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 30px;
}

header .arrow i {
    color: white;
}

@keyframes arrow-hover {
    0% {
        bottom: 50px;
    }

    50% {
        bottom: 70px;
    }

    100% {
        bottom: 50px;
    }
}

/*==== about styles */

.about {
    margin-top: 95px;
    margin-bottom: 120px;
}

.about h2 {
    font-family: 'Abel', sans-serif;
    font-size: 3rem;
}

.about p:first-of-type {
    text-decoration: underline;
    font-size: 1.3rem;
}

.about p:nth-of-type(2) {
    padding-right: 80px;
}

.skills {
    background-color: #D3D3D3;
    padding-top: 60px;
    padding-bottom: 100px;
}

.skills h2 {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 60px;
    padding-bottom: 25px;
    text-decoration: underline;
    text-transform: uppercase;
}

.skills ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}


.skills i {
    font-size: 120px;
    color: grey;
}


.skills li {
    width: fit-content;
    text-align: center;
}

.skills p {
    color: white;
}

.floatOnHover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    font-family: 'Abel', sans-serif;
    ;
}

.floatOnHover:hover,
.floatOnHover:focus,
.floatOnHover:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.floatOnHover:hover i {
    color: white;
}


.projects {
    margin-top: 50px;
    margin-bottom: 150px;
}

.projects h2 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}

.projectImg {
    width: 500px;
    height: 500px;

}

.projects ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects li {
    margin-bottom: 40px;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease;
    background-color: white;

}

.container:hover .overlay {
    opacity: .9;
}

.text {
    color: black;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.details {
    top: -100px;
    position: absolute;
    width: 340px;
    left: -60px;
}

.liveDemo {
    position: relative;
    bottom: -60px;
}

.liveDemo a {
    border: 2px solid black;
    color: white;
    background-color: #000;
    padding: 10px 10px;
}

.liveDemo a:hover {
    background-color: white;
    color: black;
}

.linksUnderline {
    text-decoration: underline;
}

.linksUnderline:hover {
    color: rebeccapurple;
}


/* form */
.formSection {
    background-color: #D3D3D3;
    text-align: center;
}

.formSection h2 {
    font-size: 2.4rem;
}

form {
    padding-top: 50px;
}

input:nth-of-type(1) {
    width: 300px;
    height: 35px;
}

label:nth-of-type(3) {
    display: flex;
    justify-content: center;
}

textarea {
    width: 605px;
}



.fadeInText:hover {
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:800px) {
    .navBar {
        display: none;
    }

    .barMenu {
        position: absolute;
    }

    .barUl ul {
        position: relative;
        display: none;
    }

    .barUl:active {
        display: block;
    }
}




@media (max-width:320px) {
    .navBar {
        display: none;
    }


}